.alpha {
	background-image:url("../images/alphabg.png");
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.preview {
    border-collapse: collapse;
	width: 100%;
	height: 100%;
}

button, input {
	white-space: nowrap;
}

.no-wrap{
	white-space: nowrap
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.hidden-container {
	display: none;
	position: absolute;
    top: 5px;
    right: 5px;
}

.hitbox{
	width: 100%;
	height: 100%;
}

.button-vote {
	float: right;
	border: 3px solid transparent;
}

.button-vote:hover {
	border: 3px solid black;
}

.button-like {	
	background-color: cyan;
}

.button-dislike {	
	background-color: red;
}

.preview-td {
    height: 100px;
	cursor: pointer;
	border: 1px solid black;
}

.hitbox:hover + .hidden-container {
	display: block;
}

.hidden-container:hover{
	display: block;
}

.visible {
	display: block;
}

.feedback-container {
	border: 1px solid blue;
	background-color: white;
	padding: 5px;
}

.predicted {
	position: absolute;
    bottom: 5px;
    right: 2px;
	font-size: 12px;
}

.selected {
	background-color: rgba(0, 127, 127, 0.5);
}
