@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	background-color:#eee;
	text-align:center;
}

.page-header{
	position:fixed;
	top:0;
	width:100%;
	height:60px;
	overflow:hidden;
	background-color:White;
}

img.post{
	display:block;
	margin:0 auto;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	max-width:50%;
	max-height:70%;
}

.horizontal {
    list-style-type: none;
    margin: 0;
	margin-top: 100px;
    padding: 0;
    overflow: hidden;
}

.horizontal-li-l {
    float: left;
}

.horizontal-li-a {
    display: block;
}

.horizontal-li-r {
    float: right;
}
