@charset "utf-8";
/* CSS Document */

button{
	padding:15px 27px;
	background:0;
	color:#08010d;
	font-size:21px;
	border-style:double;
	border-width:1px 1px;
	border-radius:41px;
	border-color:#011a0c;
	text-align:center;
}

button:hover{
	background-color:#5105a1;
}
