@charset "utf-8";
/* CSS Document */

button{
	padding:1px 9px;
	background:rgba(205, 40, 24, 0.8);
	color:rgba(119, 53, 68, 0.9);
	font-size:31px;
	border-style:inset;
	border-width:3px 5px 7px;
	border-radius:0px 0px 120px 85px;
	border-color:rgba(140, 229, 78, 0.9);
	text-align:center;
}

button:hover{
	background-color:rgba(220, 105, 94, 0.8);
}
