@charset "utf-8";
/* CSS Document */

button{
	padding:17px 26px;
	background:#2d8c85;
	color:#8ab1b3;
	font-size:23px;
	border-style:outset solid;
	border-width:2px 9px 1px;
	border-radius:0px 117px;
	border-color:#40cbc6;
	text-align:center;
}

button:hover{
	background-color:#6cafaa;
}
