@charset "utf-8";
/* CSS Document */

button{
	padding:24px 31px;
	background:0;
	color:#71b0f3;
	font-size:31px;
	border-style:double outset;
	border-width:1px;
	border-radius:79px;
	border-color:#efac49 #988dba #f8d376;
	text-align:center;
}

button:hover{
	background-color:#d729f7;
}
