@charset "utf-8";
/* CSS Document */

button{
	padding:19px 26px 11px;
	background:#e4f6df;
	color:#140733;
	font-size:26px;
	border-style:dashed;
	border-width:2px;
	border-radius:0px;
	border-color:#c33c6e #d1676e;
	text-align:center;
}

button:hover{
	background-color:#a7f6df;
}
