@charset "utf-8";
/* CSS Document */

button{
	padding:12px 27px;
	background:linear-gradient(rgba(199, 2, 134, 0.5), rgba(113, 198, 186, 0.5));
	color:rgba(232, 228, 238, 0.6);
	font-size:27px;
	border-style:outset;
	border-width:1px;
	border-radius:68px;
	border-color:rgba(122, 116, 131, 1) rgba(96, 44, 138, 0.5);
	text-align:center;
}

button:hover, button-hoverState{
	background-color:rgba(216, 78, 171, 0.5);
}
