.btn1 {
	padding: 5px 40px;
	font-size: 20px;
	color: black;
	text-transform: capitalize;
	border-radius: 100px;
	border-style: solid;
	border-width: 2px;
	border-color: Black;
	cursor: pointer;
	margin: 20px;
	background: 0;
}

.btn2 {
	padding: 20px;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	border-radius: 8px;
	border-style: none;
	border-width: 10px 4px;
	border-color: Green;
	cursor: pointer;
	margin: 20px;
	background: #ff0000;
}